:global {
  body {
    --bg-color: #121212;      
    --text-color: #ffffff;
    --card-bg: #121212;
    --tem: #1A1818;
    --year: #AB8956;
    --search: #1A1818;
    --search-text: #575757;
    --pagination: #1A1818;
    --clear: #575757;
    --input:#1A1818;

    
    &[data-theme='light'] {
      --bg-color: #ffffff;    
      --text-color: #121212;
      --card-bg: #ffffff;
      --tem: #FCFCFC;
      --year: #9B4B4B;
      --search:#FFFFFF;
      --search-text: #9C9C9C;
      --pagination:#1212120D;
      --clear:#9C9C9C;
      --input:#DEDEDE;
    }
  }
}

body{
   background-color: var(--bg-color);
   color: var(--text-color);
   margin: 0 20px;

  @media (min-width: 1280px) {
    margin: 0 calc(20px + (100 - 20) * ((100vw - 1280px) / (1440 - 1280)));
  }

  @media (min-width: 1440px) {
    margin: 0 100px;
  }
}

header{
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}

main{
  display: grid;
  grid-template-rows: repeat(auto 1fr auto);
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 20px;
}

.inter-heading {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.logo{
  width: 91px;
  height: 20px;
}

.light{
  padding: 10px;
  background-color: var(--tem);
  border-radius: 50px;
  height: 20px;
  cursor: pointer;
}

.paint{
  width: clamp(280px, 22.86vw + 206.8px, 392px);
  height: clamp(185px, 6.7vw + 163.5px, 260px);
  position: relative;
  z-index: -1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 77% 100%, 77% 68%, 0% 68%);
  @media (min-width: 768px) {
    width: clamp(352px, 5.95vw + 306.3px, 392px);
    height: clamp(233px, 4vw + 202.2px, 260px);
  }
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;

  width: clamp(280px, 22.86vw + 206.8px, 392px);
  height: clamp(185px, 6.7vw + 163.5px, 260px);
  @media (min-width: 768px) {
    width: clamp(352px, 5.95vw + 306.3px, 392px);
    height: clamp(233px, 4vw + 202.2px, 260px);
  }
  .arrowBox {
  position: absolute;
  right: 23%;
  bottom: 0;
  width: 24px;
  height: 32%; 
  background-color: var(--year); 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  
    @media (min-width: 1080px) {
      display: none; 
    }
  }
}

.content{
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: clamp(20px, 1.07vw + 15.57px, 32px);
}

.names{
  margin-top: -50px;
  z-index: 1;
  border-left: 2px solid var(--year);
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 8px;
  @media (min-width: 768px) {
    margin-top: -60px;
  }
  .name{
    text-transform: uppercase;
    max-width: 270px;
    font-size: clamp(12px, 0.357vw + 10.85px, 16px);
    font-family: "Cormorant SC", serif;
    font-weight: 500;
    font-style: normal;
  }
  .year{
    color: var(--year);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(8px, 0.357vw + 10.85px, 12px);
  }
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 4px;

  .activePage{
    background: var(--pagination);
    font-weight: 500;
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }

  .pageBtn{
    width: 26px;
  }

  .arrow{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 20px;
  }

  img{
    width: 20px;
  }

  button{
    background-color: var(--bg-color);
    border: none;
    cursor: pointer;
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(12px, 0.357vw + 10.85px, 16px);

    &:disabled{
      cursor:auto;
    }
  }

  span{
    cursor: pointer;
  }
}

.searchWrapper{
  border: 1px solid var(--input);
  border-radius: 4px;
  background-color: var(--search);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  width: clamp(184px, 14.82vw + 122.57px, 336px);
  max-width: 100%; 
  height: 36px;

  .searchInput{
    color: var(--search-text);
    width: 80%;
    border: none;
    padding: 8px 0px 8px 12px;
    background-color: var(--search);
  }

}

.filter_search_bar{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  box-sizing: border-box;
  .filter{
    cursor: pointer;
  }
}

input:focus {
    outline: none; 
}

.noresult{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  b{
    font-size: 16px;
  }
  p{
    color: #9C9C9C;
  }
}

.sideMenu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: clamp(280px, 18.93vw + 219.43px, 492px);
  min-width: 280px;
  max-width: 492px;
  height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  z-index: 1000;
  padding: 30px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%); 
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  &.open {
    transform: translateX(0);
  }

  .filterSection, .menuFooter{
    padding: 0 20px;
    @media (min-width:1280px) {
        padding: 0 30% 0% 8%;
    }
  }

  .filterGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
    font-size: clamp(12px, 0.357vw + 10.85px, 14px);
    text-transform: uppercase;
    
    .plus {
      font-size: clamp(12px, 1.071vw + 8.57px, 24px);
      font-weight: 300;
    }
  }

  .dropdownContent {
    padding-bottom: 25px;
  }

  .filterInput {
    width: 100%;
    background: var(--bg-color);
    border: 1px solid var(--input);
    color: var(--search-text);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    -moz-appearance: none;    
    appearance: none;         
    padding: 8px 16px;

    background-image: url('./assets/arrow.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 20px;
    
    option {
      background: var(--pagination);
      color: var(--text-color);
    }
  }

  .yearsInputGroup {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 25px;

    .yearInput {
      padding: 8px 16px;
      background: var(--bg-color);
      border: 1px solid var(--input);
      color: var(--text-color);
      border-radius: 6px;
      text-align: center;
      outline: none;
      width:34px;
      
      &::-webkit-inner-spin-button { display: none; }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type='number'] {
        -moz-appearance: textfield;
      }
    }

    .separator {
      color: var(--clear);
    }
  }
}

.menuHeader {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  @media (min-width: 1280px) {
    margin: 6% 10% 10% 0;
  }
  
  .closeIcon {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
}

.menuFooter {
  margin-top: auto;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  .showResults {
    background: none;
    border: none;
    text-decoration: underline;
    color: var(--text-color);
    font-size: clamp(12px, 0.357vw + 10.85px, 14px);
    padding-bottom: 4px;
    cursor: pointer;
    font-weight: 500;
  }

  .clear {
    text-decoration: underline;
    background: none;
    border: none;
    color: var(--clear);
    font-size: clamp(12px, 0.357vw + 10.85px, 14px);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: var(--text-color);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  z-index: 999;
}

.cormorant-sc-light {
  font-family: "Cormorant SC", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-sc-regular {
  font-family: "Cormorant SC", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-sc-medium {
  font-family: "Cormorant SC", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-sc-semibold {
  font-family: "Cormorant SC", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-sc-bold {
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-style: normal;
}

.inter-year {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}